# Shared host media root and network. Private files below are not committed.
MUSIC_DATA_ROOT=/mnt/data/music-library
SOURCE_NETWORK=lidarr_default
ACQUISITION_STATE_DIR=./config/acquisition
NAVIDROME_STATE_DIR=./config/navidrome
SLSKD_STATE_DIR=./config/slskd
DEEMIX_STATE_DIR=./config/deemix
BEETS_STATE_DIR=./config/beets
GLUETUN_STATE_DIR=./config/airvpn/gluetun
AIRVPN_ENV_FILE=./config/airvpn/airvpn.env
DEEMIX_HTPASSWD_FILE=./config/deemix/htpasswd
